streamlit
pandas
numpy
bcrypt
segno
supabase
langchain
reportlab
groq


langchain
langchain-community
sentence-transformers
chromadb
pypdf
pymupdf
langchain_text_splitters
uuid
langchain-groq
torchvision